<section class="user-table">
    <h2>List Of Users</h2>
    <table>
        <thead>
            <td>No </td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email Address</td>
            <td>Age</td>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="empList" (click)='editUser(user)'>
                <td><span>{{user.No}} </span></td>
                <td><span>{{user.FirstName}} </span></td>
                <td><span>{{user.LastName}}</span> </td>
                <td><span>{{user.email}} </span></td>
                <td><span>{{user.age}} </span></td>
            </tr>
        </tbody>
    </table>
</section>